@page "/users"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using CookTogether.Models

@inject IUserRepository _db

<h3>Users</h3>

<h4>Insert New User</h4>
<EditForm Model="@newUser" OnValidSubmit="@InsertUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="id"@bind-Value="newUser.Id" />
    <InputText id="username" @bind-Value="newUser.Username" />
    <InputText id="password_hash" @bind-Value="newUser.PasswordHash" />

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

<h4>Current Users</h4>
@if(users is null)
{
    <p><em>Loading data...</em></p>
}
else
{
    <table class="table table-striped">
        <thread>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password_hash</th>
            </tr>
        </thread>
        <tbody>
            @foreach(var user in users)
                {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.PasswordHash</td>
            </tr>
                }
        </tbody>
    </table>
}


@code {

    private List<UserModel> users;
    private DisplayUserModel newUser = new DisplayUserModel();


    protected override async Task OnInitializedAsync()
    {
        users = await _db.GetUsers();
    }

    private async Task InsertUser()
    {
        UserModel userModel = new UserModel
        {
            Id = newUser.Id,
            UserName = newUser.Username,
            PasswordHash = newUser.PasswordHash
        };

        await _db.InsertUser(userModel);
        users.Add(userModel);
        newUser = new DisplayUserModel();
    }
}
